.footer {
  width: 100%;
  height: 12vh;
  background-color: rgba(20, 20, 20, 0.904);
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container a {
  color: #ffff;
  text-decoration: none;
  font-size: 1rem
}

.container a:hover {
  text-decoration: underline;
}